/* adding styling to recipe website */
html {
    background: linear-gradient(#e29494, #9198e5);
}

h1 {
    text-align: center;
    color: black;
    text-decoration: underline;
}

h4 {
    color: blue;
}

img {
    height: 600px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}